ul button {
    margin-left: 15px;
}
.main {
    height: 200px;
    width: 800px;
    background-color: cornsilk;
    text-align: center;
    padding-top: 50px;
    margin-top: 180px;
    margin-left: 250px;
    box-shadow: 0 0 10px black;
}
body {
    background-color: burlywood;
}
#add_task_button {
    background-color:cornsilk;
}
#pp {
    background-color: cornsilk;
}
#task_list {
    color:black ;
}

@media (max-width: 700px) {
    /* body {
        background-color: #FF0000;
    } */
    #add_task_button {
        display: none;
    }
} 